html {
  @include default-font();
}

// Copy & Lists 
p {
}

ol {
  padding-left: 40px;
  font-family: $font-2;

  li {
    padding-left: 20px;
    font-family: $font-2;
  }
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:active, &:focus, &:visited {
    color: inherit;
  }
}

// Headings 

.sans-heading {
  font-family: $font-2;
  font-size: 23px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: $block-padding;
}
h1 {
  font-family: $font-1;
  font-size: 60px;
  line-height: 68px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;

  span {
    font-family: $font-2;
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  @media #{$bp-tab} {
    font-size: 40px;
    line-height: 50px;

    span {
      font-size: 18px;
    }
  }

  @media #{$bp-mobile} {
    font-size: 30px;
    line-height: 36px;

    span {
      font-size: 16px;
    }
  }
}
h2, .h2 {
  @include h2-style();

  &.no-bg {
    background: none;
  }
}
h3 {
  @include h3-style();
}
h4 {
  @include h4-style();
}
h5 {
  @include h5-style();
}
h6 {
  &::before {
    content: "Why are you using an h6 tag??  Tony does not approve.";
    color: red;
    display: block;
    z-index: 1000;
    position: relative;
  }
}

// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
