
// Colors

$c-white: #fff;
$c-black: #000;
$gold: #C5A149;
$green: #7CCEAE;
$blue: #13243D;
$body-grey: #eee; 
$light-grey: #F8F8F8;
$medium-grey: #E1E1E1;
$dark-grey: #A3A3A3;

$yellow: yellow;

// Layout

$block-padding: 50px;
$top-margin: $block-padding;
$top-padding: $block-padding;
$bottom-margin: $block-padding;
$bottom-padding: $block-padding;

$block-padding-half: $block-padding / 2;

$element-spacing: 30px;

// Typography

$font-1: 'EB Garamond', serif;;
$font-2: 'Montserrat', sans-serif;

// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 1000px)";
//$bp-desk-lg: "only screen and (max-width: 1200px)";
$bp-mobile-padding: "only screen and (max-width: 1040px)"; // $bp-desk-lg + mobile side padding

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 1000px;
$columns: 10;
$gutters: 0;
$box-sizing: border-box;