
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";


// Theme Configuration

@import "variables";
@import "base";
@import "mixins";
@import "type";
@import "layout";

// views

@import "views/navigation";
@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";
@import "pages/sample";
@import "pages/default";
@import "pages/quiz";
@import "pages/welcome";
@import "pages/order";
@import "pages/thanks";

// Magnific Popup
//@import "magnific/magnific";

// Modules

//@import "../../includes/modules/modules";

// Global Rules

html {
	background: $medium-grey;
}

body{
	background: url(../../image/background.jpg) no-repeat;
	background-size: 100% auto;
	margin:0px;
	padding: 50px 0 0;
	min-height: 100vh;
}

.container{
	@include container($container);
}

hr {
	height: 20px;
  background-image: url(../../image/sm-line-divider-gold.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;


  &.fancy {
  	background-image: url(../../image/fancy-line.svg);
  	background-size: 600px 20px;
  }
}

.strike {
	color: $gold;
	text-decoration: line-through;
}

.gold {
	color: $gold;
}

.image-links {
	text-align: center;

	img {
		vertical-align: middle;		
		margin: 0 25px 20px;

		@media #{$bp-mobile} {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			height: auto;
		}
	}
}

.progress {
	background-color: $medium-grey;
  width: 100%;
  height: 10px;
  margin-bottom: 50px;
  margin-top: -30px;
  margin-left: -25px;
  position: relative;
  border-radius: 2px;

	span {
		position: absolute;
		font-size: 16px;
    font-weight: bold;
    right: -55px;
		top: -9px;
		display: block;
		color: $gold;
		font-family: $font-2;

		@media #{$bp-mobile} {
			display: none;
		}
	}

	.progress-bar {
		background-color: $gold;
		height: 10px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	@media #{$bp-mobile} {
		margin-left: 0;
		margin-bottom: 25px;
	}
}