.site-footer {
	color: $dark-grey;
	font-family: $font-2;
	font-size: 12px;
	line-height: 1.6;

	a {
		color: $blue;
	}

	@media #{$bp-mobile-padding} {
		padding-left: 20px;
		padding-right: 20px;
	}
}