.page-template-default:not(.home) {
	.site-content {
		background-color: white;
		margin-top: 50px;
		padding: 50px;
		margin-bottom: 50px;

		@media #{$bp-desk} {
			margin-top: 0;
		}

		@media #{$bp-mobile} {
			padding: 20px;
		}
	}
}