.video-container {
	margin-bottom: 30px;
	position: relative;
	width: 100%;


	.wistia_embed {
		display: inline-block;
    height: 400px;
    width: 700px;

		@media #{$bp-mobile-padding} {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    margin-bottom: 30px;
		}
	}

	.book-img {
		margin-left: -300px;
		float: right;

		@media #{$bp-mobile-padding} {
			display: block;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	    transform: translateX(-25%);
	    max-width: 100%;
	    height: auto;
		}
	}

	+ p {
		margin-bottom: 30px;
	}

	&.playing {
		&::after {
			opacity: 0;
			transition: opacity 1s;
		}
	}

	/*&::after {
		content: "";
		width: 112px;
		height: 112px;
		background: url(../../image/play-button.svg);
		background-size: 100%;
		position: absolute;
		left: 299px;
		top: 144px;
		pointer-events: none;
		opacity: 1;
	}*/
}

.white-bg {
	padding: 50px;
	background-color: white;

	.h2 {
		padding-left: 70px;
		padding-right: 70px;
	}

	@media #{$bp-tab} {
		padding: 30px;

		.h2 {
			padding-left: 35px;
			padding-right: 35px;
		}
	}

	@media #{$bp-mobile} {
		padding: 20px;

		.h2 {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.callout-buttons {
	text-align: center;
	margin-bottom: $block-padding;

	a[class^="button"] {
		width:100%;
		margin-bottom: 10px;

		&.button-blue:hover {
			background-color: $blue;
			color: white;
		}

		&.button-clear:hover {
			background-color: transparent;
			border-color: $blue;
			color: $blue;
		}
	}

	div {
		position: relative;
		vertical-align: top;
	}

	small {
		display: inline-block;
		width: 80%;
		text-align: center;
	}

	p {
		text-align: center;
	}

	> div {
		max-width: 100%;
	}

	@media #{$bp-tab-sm} {
		width: auto;
		display: block;
	}
}

.transcript {
	max-height: 410px;
	padding-bottom: 10px;
	border-bottom: 1px solid $medium-grey;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;

	&.open {
		max-height: 1000em;
		transition: max-height 2s;

		&::after {
			display: none;
		}
	}

	&::after {
		position: absolute;
		bottom: 0;
		content: "";
		width: 100%;
		height: 50px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.2+0,0.8+100 */
		background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */	
	}
}

.transcript-more {
	font-family: $font-2;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: $blue;

	&:hover {
		text-decoration: none;
	}

	&:visited, &:focus {
		color: $blue;
	}
}

.wistia_embed {
	max-width: 100%;
	height: auto;
}
