.page-template-page-order {

	.site-content {
		background-color: white;
		margin-top: 50px;
		padding: 50px;
		margin-bottom: 50px;

		@media #{$bp-desk} {
			margin-top: 0;
		}
	}

	#wrapper {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		padding-bottom: 20px;
		background: url(../../image/sm-line-divider-gold.png) bottom center no-repeat;
		background-size: 160px;
		margin-bottom: 30px;

		&.no-line {
			background: none;
			padding-bottom: 0;
			margin-bottom: 50px;
		}
	}

	.order-box {
		border-top: 1px solid $medium-grey;
		border-bottom: 1px solid $medium-grey;
		position: relative;
		margin-bottom: 20px;
	}

	.order-box-left {
		border-right: 1px solid $medium-grey;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
		width: 80%;

		@media only screen and (max-width: 800px) {
			width: 70%;
		}

		@media #{$bp-tab-sm} {
			width: 100%;
			border-right: 0;
		}
	}

	.order-box-right {
		padding-left: 20px;
		display: inline-block;
		font-size: 14px;

		span {
			display: inline-block;
			font-weight: bold;
		}

		@media #{$bp-tab-sm} {
			display: block;
			padding: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}

	form {
		padding-left: 50px;
		padding-right: 50px;
		font-family: $font-2;
		margin-bottom: 0;

		@media #{$bp-tab} {
			padding-left: 0;
			padding-right: 0;
		}

		img {
			margin-right: 15px;
			width: 55px;
			height: 80px;
			vertical-align: top;
		}

		h4 {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 0;
			padding-top: 8px;
		}

		#qty {
			display: inline-block;
			margin-left: 85px;
			font-size: 14px;
		}

		#amount_value {
	    padding: 5px 0px;
	    margin-left: 5px;
	    -moz-appearance: textfield;
	    width: 30px;
	    border: 2px solid #E1E1E1;
	    border-radius: 2px;
	    text-align: center;
		}

		#buttonid {
	    font-size: 0;
	    width: 20px;
	    height: 20px;
	    background: url(../../image/plus.svg) center no-repeat;
	    border: 0;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    padding: 5px;
	    background-size: 10px;
	    position: relative;
	    bottom: 5px;
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0; 
		}
	}

	hr {
		height: 5px;
		border: 0;
		background: url(../../image/line-divider-gray.png) center no-repeat;
		background-size: 100%;
	}

	.ship_total {
		font-size: 12px;
		line-height: 16px;
		text-align: right;


		span {
			font-size: 16px;
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}

	.lock-icon {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


	// GForm Stuff

	.gform_wrapper {

		hr {
			margin-left: -50px;
			margin-right: -50px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.gsection .gfield_label, h2.gsection_title, h3.gform_title {
			@include h3-style();
			padding: 0;
			border-bottom: 0;
			letter-spacing: 2px !important;
		}

	 .gsection {
			padding: 0;
			border: 0;
		}

		.gform_footer input[type=submit] {
			@extend .button-gold;
	    display: block;
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 0;
		}
	}

	.gform_wrapper ul li.gfield {
		position: relative;
		width: 100%;
		margin-top: 10px;

		label.gfield_label {
			width: 40%;
			text-align: right;
			padding-right: 10px;
			display: inline-block;
			font-size: 16px;

			@media #{$bp-tab-sm} {
				width: 100%;
				text-align: center;
				padding: 0;
			}
		}

		.ginput_container {
			display: inline-block;
		}

		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			border: 2px solid $medium-grey;
			padding: 10px 5px;
			width: 250px;
			border-radius: 2px;
			font-size: 16px;

			@media #{$bp-tab-sm} {
				display: block;
		    margin-left: auto;
		    margin-right: auto;
			}
		}
	}

	// checkbox

	#field_1_15 {
		.gfield_label {
			display: none;
		}

		.ginput_container_checkbox {
			margin-top: 0;
			width: 100%;
		}
	}

	#input_1_15 {

		@media #{$bp-tab-sm} {
			text-align: center;

		}

		label {
			display: inline-block;
			width: 100%;
			font-size: 12px;
		}

		input {
			background: none;
	    border: 2px solid $medium-grey;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    width: 30px !important;
	    height: 30px;
	    border-radius: 2px;
	    margin-right: 10px;
	    margin-top: 0;

			&:checked {
				background: url(../../image/success-checkmark.svg) center no-repeat;
				border: none;

				+ label {
					font-weight: normal !important;
				}
			}
		}
	}
}

@media #{$bp-tab-sm} {
	.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
		margin: 0;
	}

	.gform_wrapper div.gform_card_icon {
		display: inline-block;
		float: none;
	}

	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
		text-align: center;
	}
}