.page-template-page-quiz {
	.site-content {
		background-color: white;
		margin-top: 50px;
		padding: 50px;
		margin-bottom: 50px;

		@media #{$bp-mobile} {
			padding: 50px 20px 20px;
		}
	}

	input[type="button"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
	}

	h3 {
		padding-bottom: 20px;
		background: url(../../image/sm-line-divider-gold.png) bottom center no-repeat;
		background-size: 160px;
		margin-bottom: 30px;

		&.no-line {
			background: none;
			padding-bottom: 0;
			margin-bottom: 50px;
		}
	}

	.warning {
		display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: red;
	}

	form {
		font-family: $font-2;
		
		p {
			font-family: $font-1;
			font-size: 16px;
		}

		input {
			font-size: 16px;
		}
	}

	hr {
		border: 0;
		height: 5px;
		background: url(../../image/line-divider-gray.svg) center no-repeat;
		margin-top: 30px;
	}

	.quiz-container {
		max-width: 700px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.rating-low, .rating-high {
		color: $medium-grey;
		display: inline-block;
		margin: 5px;
		font-family: $font-2;
		font-size: 16px;
		position: relative;
    bottom: 10px;

    @media #{$bp-mobile} {
    	display: none;
    }
	}

	.rating-input {
		position: relative;
		display: inline-block;
		z-index: 1;
		margin-right: 60px;
		font-size: 0;

		@media #{$bp-tab} {
			margin-right: 15px;
		}

		@media #{$bp-mobile} {
			margin-right: 10px;
		}

		&:last-of-type {
			margin-right: 0;
		}

		input {
			-moz-appearance: none;
			appearance: none;
			-webkit-appearance: none;
	    background-color: white;
	    border: 2px solid $medium-grey;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    cursor: pointer;

	    &:hover, &:checked {
	    	background-color: $gold;
	    	border-color: $gold;
	    }
		}

		label {
			position: absolute;
			top: -3px;
			left: 0;
			font-size: 26px;
			width: 30px;
			text-align: center;
			color: white;
			pointer-events: none;
		}
	}

	.rating-group {
		margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&::after {
			content: "";
			height: 2px;
			background-color: $medium-grey;
			position: relative;
			width: 380px;
			display: block;
			bottom: 30px;
			margin-left: auto;
	    margin-right: auto;

	    @media #{$bp-tab} {
	    	width: 200px;
	    }
		}

		&.yes-no {
			label {
				position: relative;
				color: black;
				margin-left: 10px;
				top: -8px;
			}

			&::after {
				display: none;
			}
		}
	}

	.quiz-item {
		position: relative;
		width: 100%;

		label {
			width: 40%;
			text-align: right;
			padding-right: 10px;
			display: inline-block;
			font-size: 16px;

			@media #{$bp-tab} {
				width: 100%;
				display: block;
				margin-bottom: 10px;
				padding: 0;
				text-align: center;
			}
		}

		input[type="text"], input[type="email"] {
			border: 2px solid $medium-grey;
			padding: 5px;
			width: 250px;
			border-radius: 2px;

			@media #{$bp-tab} {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}

		div.ginput_container {
			display: inline-block;
		}
	}

	#case_flow_button-gold {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}