.page-template-page-thankyou {
	.site-content {
		background-color: white;
		margin-top: 50px;
		padding: 50px;
		margin-bottom: 50px;

		@media #{$bp-desk} {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 50px;
    line-height: 60px;
    letter-spacing: 3px;

    span {
    	font-size: 20px;
    	letter-spacing: 3px;

    	@media #{$bp-mobile} {
    		font-size: 16px;
    	}
    }

    @media #{$bp-tab} {
    	font-size: 34px;
    	line-height: 50px;
    }

    @media #{$bp-desk} {
    	font-size: 22px;
    	line-height: 42px;
    }
	}

	.progress {
		border-radius: 2px;
	}
}