
.page-id-37.green-bar  {
	padding-top: 150px;

	.site-content {
		position: relative;
	}

	.thank-you-box {
		display: block;
		top: -150px;
		left: 0;
		width: 100%;

		@media #{bp-mobile} {
			img {
				display: none;
			}
		}
	}
}

.thank-you-box {
	display: none;
	position: absolute;
	background-color: $green;
	padding: 20px 40px;

	img {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-right: 25px;
		vertical-align: middle;
	}

	h3 {
		color: white;
		text-align: left;
		margin-bottom: 0;

		span {
			color: $blue;
			font-family: $font-1;
			text-transform: none;
			display: inline-block;
			margin-left: 15px;
		}
	}

	.close {
		position: absolute;
		top: 10px;
		right: 15px;
		cursor: pointer;
		color: white;
		font-family: $font-2;
	}
}